:root {
  --primary-color: #f9f7fe;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  color: #272142;
}
.hero {
  background-color: var(--primary-color);
  text-align: center;
}
.greeting {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 36px;
}

.btn-branding {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  background-color: #6c63ff;
  border-radius: 4px;
  padding: 18px, 30px;
}
